{% extends 'base.html' %} {% block content %}

<h1 class="h1">bug detail</h1>

<div class="bug-container">
    <div class="bug-box-detail">
        <h3 class="bug-headers"><span>Author: </span>{{ user }}</h3>
        <div class="sub-bug-box">
            <h4><span>Title:</span>{{ bug.title }}</h4>
            {% if bug.image %}
            <img id="bugImage" class="img-bugpost" src="{{ MEDIA_URL }}{{ bug.image }}" alt="{{ bug.name }}"> {% endif %}
            <p>{{ bug.content }}</p>
            <p><span>Published on:</span> {{ bug.published_date }} </p>
            <div class="view-likes">
                    <p class="italics"><i class="fas fa-eye"></i> {{ bug.views }}</p>
                </div>
                <div class="view-likes">
                    <p class="italics"><i class="far fa-thumbs-up"></i> {{ bug.upvotes }}</p>
                </div>
            <a href="{% url 'get_bugs' %}" class="btn btn-default">Back to Bugs Page</a>
            <hr>
        </div>
    </div>
</div>

{% endblock %}