{% extends "base.html" %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript">
    $(function() {
    $("#payment-form").submit(function() {
        var form = this;
        var card = {
            number: $("#id_credit_card_number").val(),
            expMonth: $("#id_expiry_month").val(),
            expYear: $("#id_expiry_year").val(),
            cvc: $("#id_cvv").val()
        };
    
    Stripe.createToken(card, function(status, response) {
        if (status === 200) {
            $("#credit-card-errors").hide();
            $("#id_stripe_id").val(response.id);

            // Prevent the credit card details from being submitted
            // to our server
            $("#id_credit_card_number").removeAttr('name');
            $("#id_cvv").removeAttr('name');
            $("#id_expiry_month").removeAttr('name');
            $("#id_expiry_year").removeAttr('name');

            form.submit();
        } else {
            $("#stripe-error-message").text(response.error.message);
            $("#credit-card-errors").show();
            $("#validate_card_btn").attr("disabled", false);
        }
    });
    return false;
    });
});
</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-6 col-lg-4 feature-box">
            <div>
                <h3 class="bug-headers"><span>Author: </span>{{ item.feature.owner }}</h3>
                <div class="sub-feature-box">
                    <span>Title:</span>{{ item.feature.title }}</span>
                    <br>
                    <span>Description:</span><p>{{ item.feature.content|truncatewords:30 }}</p>
                    <p><span>Price £</span>{{ item.feature.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row total">
    <p>Total</p>
    <p><i class="fas fa-pound-sign"></i></span>{{ total }}</p>
</div>

<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <legend>Payment Details</legend>

    <div id="credit-card-errors">
        <div id="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
    </div>

    {% csrf_token %}
    <div class="form-group col-md-12">
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
{% endblock %}
