{% extends 'base.html' %} {% block page_title %}{{ user }}'s Profile{% endblock %} {% block page_heading %}{{ user }}'s Profile{% endblock %} {% block content %}
<div class="logged-in">{{ profile.email }}</div>

<hr class="hr">

<div class="button-container">
    <div class="button">
        <button type="button" class="btn-mod btn btn-danger"><li><a href="{% url 'get_bugs' %}"><i class="fas fa-bug"></i>add a bug</a></li></button>
    </div>
    <div class="button">
        <button type="button" class="btn-mod btn btn-success"><li><a href="{% url 'get_feature' %}"><i class="fas fa-users-cog"></i>add a feature</a></li></button>
    </div>
</div>

<hr class="hr">

<h1 class="h1">your features & bugs</h1>

<div>
<!-- bug post content -->

</div>

{% endblock %}
