{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}

<div class="container-fluid">
    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-6 col-lg-4 feature-box">
            <div>
                <h3 class="bug-headers"><span>Author: </span>{{ item.feature.owner }}</h3>
                <div class="sub-feature-box">
                    <span>Title:</span>{{ item.feature.title }}</span>
                    <br>
                    <span>Description:</span><p>{{ item.feature.content|truncatewords:30 }}</p>
                    <p><span>Price £</span>{{ item.feature.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="check-out-wrapper">
    <div class="check-out">
        <div class="total">
            <p>Total</p>
            <p><i class="fas fa-pound-sign"></i>{{ total }}</p>
        </div>
        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
</div>
{% endblock %}
