{"filter":false,"title":".gitconfig","tooltip":"~/.gitconfig","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1563825176746,"hash":"0fd3d19ac73e1bf8ac1b694d3624b84f55129dde"}